{%extends "layout.html"%}

<!-- title -->

{%block header%}
<div>登入頁面</div>

{%endblock%}

<!-- nav -->

{%block nav%}

<ul class="menu">
  <li><a href="{{ url_for('signup')}}">Sign Up</a></li>
</ul>
{%endblock%}

<!-- body -->

{%block body%}

<div>
  <p class="title">登入系統</p>
  <form action="/verify" method="POST">
    帳號
    <input name="username" type="text" required />
    <br />
    密碼
    <input name="password" type="password" required />
    <br />
    <input type="submit" value="登入" />
  </form>
</div>
{%endblock%}
